azure-identity==1.16.0
azure-storage-blob==12.20.0
fastapi==0.111.0
kafka-python==2.0.2
peewee==3.17.3
pydantic==2.7.1
ultralytics==8.2.18
uvicorn==0.29.0
pdf2image==1.17.0
numpy==1.26.4
pyjwt==2.8.0
openai==1.30.1
matplotlib==3.9.0
scheduler==0.8.5
doctr
psycopg2-binary==2.9.9
pycryptodomex==3.20.0
scikit-image
slack-sdk==3.29.0
streamlit==1.36.0
streamlit-extras